/*------------------- 
      Global 
---------------------*/

/* variables */
:root{
    --primary-light : #EFF8FF;
    --primary : #0071CE;
    --white : #fff;
    --dark : #000;
    --dark-light : #4F4F4F;
    --heading : 'Bebas Neue', cursive;
    --fs-description : 16px;
}


/* global reset */
*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}


/* style of bold */
body{
    font-family: "Calibri", sans-serif;
    font-size: 16px;
    margin: auto;
}



/*------------------- 
        components 
---------------------*/

/* heading */
.heading{
    color: var(--primary);
    font-family: var(--heading);
    font-size: 92px;
    line-height: 1;
}



.heading-lg{
    font-size: 120px;
}
/* buttons */
.button{
    padding: 10px 30px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    transition: all .3s ease;
}

.button:hover{
    transform: translateY(-1px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.164);
}

.button:active{
    transform: translateY(2px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.164);
}

.button-primary{
    background-color: var(--primary);
    color: white;
}
.button-primary:hover{
    background-color: #003E71;
}

.button-outline{
    background-color: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.button-outline-small{
    padding: 5px 15px;
}

.button-outline:hover{
    background-color: var(--primary);
    color: var(--white);
}

.button-small{
    background-color: white;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
}

/* text-link */
.link-text{
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-text i{
    font-size: 10px;
    margin-left: 10px;
}


/*------------------- 
    corona alert 
---------------------*/

.info{
    padding: 10px 20px;
    display: flex;
    background-color: #EFF8FF;
    align-items: center;
    justify-content: space-between;
}
.info__icon{
    margin-right: 5px;
    color: var(--primary);
}

.info__description{
    margin: 0;
}

.info__title{
    color: var(--primary);
}
.info__close{
    cursor: pointer;
}




/*------------------- 
        Header 
---------------------*/

.header{
    padding: 30px 0px 100px;
}
.header__title{
    font-family: var(--heading);
    font-size: 92px;
    line-height: 1;
    color: var(--primary);
}
.header__description{
    font-size: var(--fs-description);
}

.header__cta{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width : 768px) {
    .header__image img{
        margin-top: 50px;
    }
}


/*------------------- 
        services 
---------------------*/

.services{
    margin: 50px 0;

}
.service__card{
    background-image: url("./../assets/images/img-area-of-care.png");
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 20px;
    /* background-color: red; */
}
.service__card--1{
    background-image: url("./../assets/images/img-area-of-care.png");
}
.service__card--2{
    background-image: url("./../assets/images/img-urgent-care.png");
}
.service__card--3{
    background-image: url("./../assets/images/img-fundraising.png");
}

.service__card::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(2.28deg, #003E71 4.19%, rgba(0, 113, 206, 0) 92.18%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.service__card .card__content{
    color: white;
    position: relative;
    z-index: 10;


}
.service__card .card__title{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
}
.service__card .card__description{
    font-size: 18px;
    font-weight: 200;
}


/* find you location and you matter here */
.folAndYml{
    padding: 100px 0px;
}

/* find our locations */
.fol{
    background-image: url("../assets/images/location.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: top right;
}
.fol__heading{
    
}
.fol__description{
    
}

/* you matter here */

.ymh{
    margin-top: 50px;
    padding: 20px 0;
    /* background-color: var(--primary-light); */
}


/* latest updates */
.latest{
    background-color: var(--primary-light);
    padding: 100px 0;

}

.latest__card{
    background-color: white;
    padding: 40px 20px;
    border: 2px solid var(--primary);
    border-radius: 5px;
}

.latest__date{
    font-weight: 600;
    font-style: italic;
    
}

.latest__title{
    font-weight: 600;
}

.latest__card--active{
    background-color: transparent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.103);
}



/*------- 
    care matters here 
--------*/
.careMatters{
    padding: 100px 0;
}
.careMatters__description{
    font-size: 48px;
    line-height: 1.2;
}

.careMatters__content{
    background-image: url(../assets/images/care-text.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}
.careMatters__image{
    width: 100%;
    height: auto;
}

/* ------ 
     upcoming event 
--------*/

.upcoming{
    padding: 50px 0 100px 0;
}

.upcomingEvent{
    padding: 0px 0;
}

.upcomingEvent__image{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.upcomingEvent__date{
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 24px;
    font-style: italic;
}
.upcomingEvent__title{
    font-weight: 600;
    margin: 0;
    margin-bottom: 21px;
}


.section_headerWithBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* media queries */
@media screen and (max-width : 768px) {
    .heading {
        font-size: 58px;
    }
    .section_headerWithBtn{
        flex-direction: column;
        gap: 20px;
    }
    .careMatters__description {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 30px;
    }
}

.